main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.chamada-principal{
  background-color: #000000;
  padding-top: 2rem;
  width: 100%;
  height: calc(100vh - 161px);

}

.chamada-principal .video{
  margin: auto;
  margin-top: 4rem;
  display: block;
  width: 80%;
  height: 80%;
}